/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital@1&display=swap');
*{
    margin: 0px;
}
body{
    width: 100vw;
    padding: 0;
    background-color: #E5E5E5;;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 94px;
    background-color: #562EFF;
    margin-bottom: 36px;
}
nav{
    width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-content,.right-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-nav-img{
    height: 51px;
    width: 40px;
}
#idea{
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-left: 15px;

}

ul{
    display: flex;
    justify-content: space-between;
    width: 220px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}
.profile-pic{
    height: 51px;
    width: 51px;
    margin-left: 36px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 870px; 
   margin: 0 auto;

}
section{
    width: 870px;
    background-color:white;
    border-radius: 5px;
    margin-bottom: 21px;
    
}
h1{
    margin-top: 30px;
    margin-bottom: 35px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
}
.container{
   margin: 0px 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
   
}
.player{
    display: flex;
    align-items: center;
    
}
.thumbnail{
    height: 56px;
    width: 56px;
}
.thumbnail>img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
hr{
    border: 1px solid #D1D1D1;
    width: 807px;
    margin:30px auto;
}
/* blogs */
.blog-grid
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
article
{
    display: flex;
    align-items: center;
}
.banner>img{
    width: 177px;
    height: 117px;
}

.banner{
    margin-right: 16px;
}
h2{
    margin-bottom: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
   

}
p.authorname{
    margin-top: 6px;
    color:  #9F9F9F;
    
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;



}
p.authorname>a{
    text-decoration: none;
    color:  #562EFF;
    
}
/*-------
 section2
---------*/
.grid-courses{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 22.5px;
}
.background-frame{
width: 252px;
height: 270px;
background-color: rgba(252, 252, 252, 0.753);
box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5),-1px -1px 2px rgba(128, 128, 128, 0.5);
display: flex;
flex-direction: column;
align-items: center;
border-radius: 3px;
}
.course-thumbnail{
    width: 214px;
    height: 104px;
    margin-top: 13px;
}
.course-instructor{
  
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color:  #ED6B4F;
    margin-bottom: 0px;
    margin-top: 10px;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
    height: 24px;
}
.fa-star{
    font-size: 12px;
}
.filled{
    color:#FFC014 ;
}
.empty{
    color:rgb(212, 182, 182)
}
.rating{
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color:  #A2A2A2;
    margin-left: 7px;

}
.duration{
    border-radius: 15px;
    width: 95px;
    height: 30px;
    background:#d841576b;
    color:#FF4A60;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.fa-clock{
    margin-right: 5px;
}
/* mediaqueri */
@media only screen and (min-width:690px) and (max-width:998px) {
    body{
        width: 100vw;
        margin: 0px;
    }
    header{
        width: 100%;
    }
    main{
        width: 95vw;
      
    }
    section{
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .container{
        margin: 0px auto;
        width: 90%;
        
     }
    .players{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 30px;
       
    }
    .player-name{
        display: inline-block;
    }
    .blog-grid
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 26px;
        }
    article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
    hr{
        width: 90vw;
    }
    
    .grid-courses{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 10px;
       
    }
    .left-content{
        margin-left: 5px;
    }
    .right-content{
        margin-right: 5px;
    }
    .profile-pic{
        margin-right: 20px;
    }
}
/* for mobile */
@media only screen and (max-width:690px){
    body{
        width: 100vw;
        margin: 0px;
    }
    header{
        width: 100vw;
    }
    nav{width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left-nav-img {
        height: 25px;
        width: 20px;
        margin-left: 20px;
    }
    main{
        width: 95vw;
      
    }
    section{
        width: 95vw;
    }
    h1{
        text-align: center;
    }
    .container{
        margin: 0px auto;
        width: 100%;
     }
    .players{
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 30px;
       
    }
   
   
    .player{
        display: flex;
        flex-direction: column;
        align-items: center;


    }
    .player-name{
        display: inline-block;
        margin-left: 0px;
        margin-top: 5px;
    }
    .blog-grid
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 26px;
        }
    article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    hr{
        width: 90vw;
    }
    .container{
        width: 100%;
        margin: 0px;
    }
    .players{
        width: 100%;
    }
    .grid-courses{
        width: 100%;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 10px;
       
    }
    .background-frame{
        margin: 0 auto;
    }
    .left-content{
        margin-left: 5px;
    }
    .right-content{
        margin-right: 5px;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
   
    #idea{
        font-size: 17px;
    }
    .left-content, .right-content {
        display: flex;
        justify-content: center;
        align-items: center;
      
    }
    .profile-pic{
        margin-left: 0px;
        margin-right: 20px;
    }
    ul{
        padding: 0px;
        width: 80px;
    }
}
